@import url('https://fonts.googleapis.com/css2?family=ZCOOL+QingKe+HuangYou&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "ZCOOL QingKe HuangYou", ui-sans-serif, system-ui, sans-serif;
  --font-serif: "ZCOOL QingKe HuangYou", ui-sans-serif, system-ui, sans-serif;
}

:root {
  --color-primary: #f59ad2ef;
  --color-accent: #888888;
  --color-bg: #ffffff;
  --color-footer-bg: #111111;
  --color-sidebar-bg: #fafafa;
}

html, body, #root, * {
  font-family: "ZCOOL QingKe HuangYou", ui-sans-serif, system-ui, sans-serif !important;
}

body {
  background-color: var(--color-bg);
  color: var(--color-primary);
  scroll-behavior: smooth;
}
